
<div class="ttp-<%=message.user.id%>">

  <div class="message-box message-<%= message.user.id %>">
    <small > <%= message.user.username.capitalize %> </small></br>
     <h4> <%= message.body %> </h4>
      
      <div id="time">
      
     <small> <%= time_ago_in_words(message.created_at) %> ago </small>
      </div>
  </div>
</div>
