<div id="chatroom_container" class="row blk_background text-light">
<h4> Welcome to Hathi! 𓃰 </h4>
</br></br></br>
  <div id="side_panel" class="col-md-4 col-sm-4">
  <h5> Hello, <%= current_user.username.capitalize%> </h5>
  </br>
  </br>

  <h5> Online Users: </h5>
  <%= turbo_stream_from "users" %>

    <div id = "users">
    <%= render @users%>
    </div>
    </br>
    </br>
    


  <h5> ChatRooms </h5>
  <%= turbo_stream_from "chatrooms" %>

    <div id = "chatrooms">
    
    <%= render @chatrooms %>
    
   
    </div>
    
  <%= render 'layouts/new_chatroom_form' %>
  </div>
    <div id="room_container"
    class="col-md-8 col-sm-8 bg-dark text-light">

    <% if @singular_chatroom %>
      <div id="single_room">
      <h3 class="text-center"> <%=  @singular_chatroom.name.capitalize %> </h3>
      <%= turbo_stream_from @singular_chatroom %>
        <div id="messages">
        <%= render @messages %>
        </div>
      <%= render 'layouts/new_message_form' %>

      </div>
    <% end %>
    </div>
      

</div>