<div class="vessel">

  <h4> Hathi Member: <%= current_user.username%> </h4>


  <h5> Users </h5>
  <%= turbo_stream_from "users"%>
  <div id = "users">
  <%= render @users%>
  </div>

  <h5> ChatRooms </h5>
  <%= turbo_stream_from "chatrooms"%>
  <div id = "chatrooms">
  <%= render @chatrooms %>
  </div>
  <%= render 'layouts/new_chatroom_form' %>


</div>