<div class="bg-gray">
  <h4> Welcome to Hathi! 𓃰 </h4>
  <h6> Hathi Member: <%= current_user.username%> </h6>

  <h6> Users </h6>
  <%= turbo_stream_from "users" %>
  
  <div id = "users">
  <%= render @users%>
  </div>


  <h6> ChatRooms </h6>
  <%= turbo_stream_from "chatrooms" %>

  <div id = "chatrooms">
  <%= render @chatrooms %>
  </div>
  <%= render 'layouts/new_chatroom_form' %>
  <% if @singular_chatroom %>
      <div id="single_room">
        <h5 class="text-center"> <%=  @singular_chatroom.name %> </h5>
        <%= turbo_stream_from @singular_chatroom %>
        <div id="messages">
          <%= render @messages %>
        </div>
        <%= render 'layouts/new_message_form' %>
      </div>
    <% end %>


</div>